<div class="cell"> 
	<% if number.users.include? @current_user %>
		<%= button_to favourite_destroy_path, method: :delete, params: {number_id: number.id}, remote: true, class: "star active" do %>
			<div class="label">ЁЯМЯ</div>
		<% end %>
	<% else %>
		<%= button_to favourite_create_path, method: :post, params: {number_id: number.id}, remote: true, class: "star" do %>
			<div class="label">тнРя╕П</div>
		<% end %>
	<% end %>
</div>
<div class="cell number"> <%= number_with_delimiter(number.id) %> </div>
<div class="cell"> <%= number.result %> </div>
<div class="cell">
	<% if number.favourites.count == 0 %>
		0
	<% else %>
		<div class="hover-container">
			<div class="favourite-count">
				<%= number.favourites.count %>
			</div>
			<div class="list-of-users">
				<% number.users.each do |user| %>
					<div><%= user.name %></div>
				<% end %>
			</div>
		</div>
	<% end %>
</div>