<div class="top-section">
	<h2>Numbers</h2>
	<div class="page-size">
		Page size: <%= select_tag "size", options_for_select(["20", "50", "100", "250"], @size.to_s) %>
	</div>
</div>

<div class="grid-table">
	<div class="row">
		<div class="header">Favourite</div>
		<div class="header">Number</div>
		<div class="header">Result</div>
		<div class="header">Number of Favourites</div>
	</div>

	<% @numbers.each do |number| %>
		<div class="row" id="number_<%= number.id %>">
			<%= render partial: "welcome/row", formats: "html", locals: { number: number } %>
		</div>
	<% end %>

	<div class="pagination">
		<% if @page > 5 %> 
			<%= link_to "1", root_path(page: 1, size: @size), class: "page" %>
			..
		<% end %>

		<% if @page - 4 < 1 %>
			<% 1.upto(9) do |page| %>
				<%= link_to number_with_delimiter(page.to_s), root_path(page: page, size: @size), class: "page #{"active" if @page == page}" %>
			<% end %>
		<% elsif @page + 5 > 100000000000 %>
			<% 99999999991.upto(100000000000) do |page| %>
				<%= link_to number_with_delimiter(page.to_s), root_path(page: page, size: @size), class: "page #{"active" if @page == page}" %>
			<% end %>
		<% else %>
			<% (@page-4).upto((@page+5)) do |page| %>
				<%= link_to number_with_delimiter(page.to_s), root_path(page: page, size: @size), class: "page #{"active" if @page == page}" %>
			<% end %>
		<% end %>

		<% if @page < 99999999995 %> 
			..
			<%= link_to "100,000,000,000", root_path(page: 100000000000, size: @size), class: "page" %>
		<% end %>
	</div>
</div>