<!DOCTYPE html>
<html>
  <head>
    <title>FizzbuzzApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1 class="title">Fizzbuzz</h1>
      <% # link_to "Sign up", new_user_path %>
      <div class="header-options">
        <a href="/user/create" class="sign-up">Sign up</a>
      </div>
    </header>
      
    <div class="container">
      <%= yield %>
    </div>

    <footer>

    </footer>
  </body>
</html>
