<!DOCTYPE html>
<html>
  <head>
    <title>FizzbuzzApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to "Fizzbuzz", root_path, class: "title" %>
      <div class="header-options">
        <%= render partial: "user/current_user", formats: "html" %>
      </div>
    </header>
      
    <div class="container">
      <%= yield %>
    </div>

    <footer>

    </footer>
  </body>
</html>
